##### Import Libraries

In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt

##### Modeling data fetching with 'geojson' file

In [2]:
shp_path = 'https://github.com/vuski/admdongkor/raw/master/ver20220701/HangJeongDong_ver20220701.geojson'
dong_gdf = gpd.read_file(shp_path)

In [3]:
dong_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3513 entries, 0 to 3512
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OBJECTID  3513 non-null   int64
 1   adm_nm    3513 non-null   object
 2   adm_cd    3513 non-null   object
 3   adm_cd2   3513 non-null   object
 4   sgg       3513 non-null   object
 5   sido      3513 non-null   object
 6   sidonm    3513 non-null   object
 7   sggnm     3513 non-null   object
 8   adm_cd8   3513 non-null   object
 9   geometry  3513 non-null   geometry
dtypes: geometry(1), int64(1), object(8)
memory usage: 274.6+ KB

In [4]:
dong_gdf.head()

,OBJECTID,adm_nm,adm_cd,adm_cd2,sgg,sido,sidonm,sggnm,adm_cd8,geometry
0,1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구,11010530,"MULTIPOLYGON (((126.97689 37.57565, 126.97703 ..."
1,2,서울특별시 종로구 삼청동,1101054,1111054000,11110,11,서울특별시,종로구,11010540,"MULTIPOLYGON (((126.98269 37.59507, 126.98337 ..."
2,3,서울특별시 종로구 부암동,1101055,1111055000,11110,11,서울특별시,종로구,11010550,"MULTIPOLYGON (((126.97585 37.59656, 126.97359 ..."
3,4,서울특별시 종로구 평창동,1101056,1111056000,11110,11,서울특별시,종로구,11010560,"MULTIPOLYGON (((126.97507 37.63139, 126.97649 ..."
4,5,서울특별시 종로구 무악동,1101057,1111057000,11110,11,서울특별시,종로구,11010570,"MULTIPOLYGON (((126.96067 37.58080, 126.96281 ..."

In [5]:
dong_gdf['sido'].unique()

array(['11', '26', '27', '28', '29', '30', '31', '36', '41', '42', '43',
       '44', '45', '46', '47', '48', '50'], dtype=object)

In [6]:
unique_dong_gdf = dong_gdf.drop_duplicates(subset='sido')
unique_dong_gdf

,OBJECTID,adm_nm,adm_cd,adm_cd2,sgg,sido,sidonm,sggnm,adm_cd8,geometry
0,1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구,11010530,"MULTIPOLYGON (((126.97689 37.57565, 126.97703 ..."
424,425,부산광역시 중구 중앙동,2101051,2611051000,26110,26,부산광역시,중구,21010510,"MULTIPOLYGON (((129.04002 35.11142, 129.04273 ..."
624,625,대구광역시 중구 삼덕동,2201054,2711054500,27110,27,대구광역시,중구,22010540,"MULTIPOLYGON (((128.59981 35.86827, 128.60252 ..."
761,764,인천광역시 중구 연안동,2301052,2811052000,28110,28,인천광역시,중구,23010520,"MULTIPOLYGON (((126.61984 37.46191, 126.62116 ..."
908,913,광주광역시 동구 충장동,2401051,2911052500,29110,29,광주광역시,동구,24010510,"MULTIPOLYGON (((126.91921 35.15325, 126.91917 ..."
1003,1008,대전광역시 동구 효동,2501053,3011053000,30110,30,대전광역시,동구,25010530,"MULTIPOLYGON (((127.44846 36.31925, 127.44832 ..."
1080,1087,울산광역시 중구 학성동,2601051,3111051000,31110,31,울산광역시,중구,26010510,"MULTIPOLYGON (((129.33150 35.56101, 129.33269 ..."
1136,1143,세종특별자치시 세종시 조치원읍,2901011,3611025000,36110,36,세종특별자치시,세종시,29010110,"MULTIPOLYGON (((127.30161 36.58212, 127.30141 ..."
1145,1156,경기도 수원시장안구 파장동,3101154,4111156000,41111,41,경기도,수원시장안구,31011540,"MULTIPOLYGON (((127.00612 37.33807, 127.00706 ..."
1649,1673,강원도 춘천시 신북읍,3201011,4211025000,42110,42,강원도,춘천시,32010110,"MULTIPOLYGON (((127.79363 37.99233, 127.79292 ..."
1837,1861,충청북도 충주시 주덕읍,3302011,4313025000,43130,43,충청북도,충주시,33020110,"MULTIPOLYGON (((127.82664 37.01030, 127.82475 ..."
1990,2014,충청남도 천안시동남구 목천읍,3401111,4413125000,44131,44,충청남도,천안시동남구,34011110,"MULTIPOLYGON (((127.25464 36.76160, 127.25355 ..."
2197,2221,전라북도 전주시완산구 동서학동,3501160,4511165000,45111,45,전라북도,전주시완산구,35011600,"MULTIPOLYGON (((127.21728 35.80164, 127.21741 ..."
2438,2462,전라남도 목포시 용당1동,3601051,4611051000,46110,46,전라남도,목포시,36010510,"MULTIPOLYGON (((126.40397 34.80613, 126.39812 ..."
2735,2759,경상북도 포항시남구 구룡포읍,3701111,4711125000,47111,47,경상북도,포항시남구,37011110,"MULTIPOLYGON (((129.53015 35.93495, 129.52901 ..."
3063,3091,경상남도 진주시 문산읍,3803011,4817025000,48170,48,경상남도,진주시,38030110,"MULTIPOLYGON (((128.24737 35.12847, 128.24669 ..."
3366,3394,제주특별자치도 제주시 한림읍,3901011,5011025000,50110,50,제주특별자치도,제주시,39010110,"MULTIPOLYGON (((126.23128 33.40475, 126.22994 ..."

In [8]:
dong_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3513 entries, 0 to 3512
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OBJECTID  3513 non-null   int64
 1   adm_nm    3513 non-null   object
 2   adm_cd    3513 non-null   object
 3   adm_cd2   3513 non-null   object
 4   sgg       3513 non-null   object
 5   sido      3513 non-null   object
 6   sidonm    3513 non-null   object
 7   sggnm     3513 non-null   object
 8   adm_cd8   3513 non-null   object
 9   geometry  3513 non-null   geometry
dtypes: geometry(1), int64(1), object(8)
memory usage: 274.6+ KB