In [1]:
import os
import sys
import numpy as np
import pandas as pd

# 사용자정의 함수: key를 입력하면 해당 데이터를 데이터프레임으로 읽어옴
from aiddd.data_manager import read_data, write_data
from aiddd.utils import show_commas

In [2]:
df = {
    '기별': {
        '애자': read_data('기별 애자'),
        '인입선': read_data('기별 인입선'),
        '장주': read_data('기별 장주'),
        '전선': read_data('기별 전선'),
        '전주': read_data('기별 전주'),
        '접지': read_data('기별 접지'),
        '지지선': read_data('기별 지지선'),
    },
    '설계': {
        '고객': read_data('설계 고객'),
        '애자': read_data('설계 애자'),
        '인입선': read_data('설계 인입선'),
        '장주': read_data('설계 장주'),
        '전선': read_data('설계 전선'),
        '전주': read_data('설계 전주'),
        '접지': read_data('설계 접지'),
        '지지선': read_data('설계 지지선'),
    },
}

In [3]:
df_cc = read_data('전처리 공사비')

In [4]:
for key1 in ['기별', '설계']:
    for key2 in df[key1].keys():
        df_data = df[key1][key2]
        sr_data_cnt = df_data['공사번호'].value_counts()
        col_name = f'{key1}:{key2}'
        df_cc = pd.merge(
            df_cc, sr_data_cnt.rename(col_name),
            left_on='공사번호', right_on=sr_data_cnt.index, how='left'
        )
        df_cc[col_name] = df_cc[col_name].fillna(0)
        df_cc[col_name] = df_cc[col_name].astype(int)

In [5]:
write_data('병합 전체카운트', df_cc)

In [6]:
condition1 = (df_cc['기별:전주'] > 0) & (df_cc['기별:전주'] < 11)
df_cc[condition1].shape

(1299, 24)

In [7]:
condition2 = (df_cc['설계:전주'] > 0) & (df_cc['설계:전주'] < 11)
df_cc[condition2].shape

(3340, 24)

In [8]:
condition3 = (df_cc['기별:전선'] > 0) & (df_cc['기별:전선'] < 13)
df_cc[condition3].shape

(769, 24)

In [9]:
condition4 = (df_cc['설계:전선'] > 0) & (df_cc['설계:전선'] < 13)
df_cc[condition4].shape

(3640, 24)

In [10]:
df_cc[condition1 & condition3].shape

(225, 24)

In [11]:
df_cc[condition2 & condition4].shape

(3155, 24)

In [12]:
df_cc_ds = df_cc[condition2 & condition4]

In [13]:
show_commas(df_cc_ds[['최종변경자사번', '공사형태코드', '총공사비', '계약전력', '설계:전주', '설계:전선', '설계:인입선']][:30])