#### 공사비 데이터셋 확인

In [1]:
import sys
import pandas as pd
from datetime import datetime

import matplotlib.pyplot as plt
from freeman.plt_setting import plt_settings

sys.path.append('..')
from utils.data_manager import read_data

# 한글처리 지원
plt_settings()

In [2]:
%%time
df_data = read_data('2nd provide cons')
df_data.shape

CPU times: user 19.1 s, sys: 43.2 ms, total: 19.2 s
Wall time: 19.2 s

(19052, 143)

In [3]:
# for _column_name in df_data.columns:
#     print(df_data[_column_name].value_counts())

In [4]:
df_pp = read_data('2nd pp cons-1st-all')
df_pp.shape

(15894, 63)

In [5]:
for _column_name in df_pp.columns:
    print(df_pp[_column_name].value_counts().sort_values(ascending=False))

공사번호
477420174171    1
477420203447    1
477420204037    1
477420203783    1
477420183473    1
               ..
474620234482    1
474620234519    1
474620234559    1
474620234576    1
474620234659    1
Name: count, Length: 15894, dtype: int64
회사분공사비
294172     3
371199     2
1244008    2
317468     2
307714     2
          ..
317051     1
197067     1
595047     1
416090     1
337454     1
Name: count, Length: 15766, dtype: int64
도급분공사비
2345588    2
2282995    2
1778505    2
2370468    2
1866870    2
          ..
1930041    1
3226666    1
2500270    1
1687151    1
2195643    1
Name: count, Length: 15856, dtype: int64
자본적금액
0          13
2510089     2
3055475     2
2492279     2
2756211     2
           ..
2425666     1
2106904     1
2587490     1
2355617     1
2533097     1
Name: count, Length: 15859, dtype: int64
수익적금액
0          9365
19036         3
27172         2
178953        2
144442        2
           ...
1667514       1
302460        1
220746        1
79651         1
1139187       1
Name: count, Length: 6492, dtype: int64
본사분재료비
0         4
317658    3
387827    3
384318    3
349156    3
         ..
315090    1
309900    1
197067    1
583926    1
330208    1
Name: count, Length: 15766, dtype: int64
내자분재료비
0         4
317658    3
387827    3
384318    3
349156    3
         ..
315090    1
309900    1
197067    1
583926    1
330208    1
Name: count, Length: 15766, dtype: int64
내자분저장품재료비
0         4
317658    3
349156    3
384318    3
387827    3
         ..
300408    1
315090    1
309900    1
197067    1
330208    1
Name: count, Length: 15761, dtype: int64
내자분비저장품재료비
0         14246
66503        79
1705         72
66506        63
5115         52
          ...
956884        1
2960          1
9022          1
8916          1
923064        1
Name: count, Length: 697, dtype: int64
도급분재료비
0          23
97915       6
600         4
102067      4
78417       4
           ..
160479      1
1005547     1
88969       1
294647      1
127827      1
Name: count, Length: 15506, dtype: int64
지입재료비
0          23
97915       6
600         4
102067      4
78417       4
           ..
160479      1
1005547     1
88969       1
294647      1
127827      1
Name: count, Length: 15506, dtype: int64
잡재료비
0        15891
45779        1
3510         1
8183         1
Name: count, dtype: int64
직접노무비
467011     4
850607     3
783399     2
812827     2
840063     2
          ..
1854414    1
679016     1
686095     1
678527     1
796736     1
Name: count, Length: 15795, dtype: int64
간접노무비
65613     4
76251     4
86212     3
66120     3
57126     3
         ..
183967    1
53318     1
89972     1
238761    1
90031     1
Name: count, Length: 15036, dtype: int64
기계경비
171205     474
150497     260
181173     164
177109     161
176556     160
          ...
1205540      1
255349       1
314453       1
506189       1
286575       1
Name: count, Length: 9935, dtype: int64
공구손료
13781    6
13740    5
13540    5
15666    5
14446    5
        ..
54159    1
72341    1
41935    1
17078    1
16054    1
Name: count, Length: 13360, dtype: int64
회사분경비
0         2009
6555       121
6025       121
6532       108
6556       108
          ...
248302       1
226192       1
112595       1
8291         1
8210         1
Name: count, Length: 4766, dtype: int64
도급분경비
1019397    2
967830     2
834198     2
1012148    2
1282268    2
          ..
2252434    1
2152904    1
1221020    1
1172972    1
800937     1
Name: count, Length: 15824, dtype: int64
무정전기준비용
0          15646
877987        29
821944        20
886575        18
775547         9
           ...
2010033        1
2252786        1
4384556        1
4762310        1
1171634        1
Name: count, Length: 112, dtype: int64
신설기준비용
467011    4
850607    3
771125    2
944146    2
823758    2
         ..
679016    1
686095    1
678527    1
614351    1
796736    1
Name: count, Length: 15794, dtype: int64
철거기준비용
0         11484
23767        49
16098        40
16926        33
24366        29
          ...
938236        1
759037        1
265301        1
26684         1
425328        1
Name: count, Length: 3510, dtype: int64
일반관리비
96770     4
113681    4
146037    3
98218     3
84114     3
         ..
142883    1
92498     1
107517    1
218316    1
94371     1
Name: count, Length: 15244, dtype: int64
이윤
190415    3
277480    3
225059    3
231635    2
225128    2
         ..
190943    1
246761    1
417324    1
257840    1
213849    1
Name: count, Length: 15650, dtype: int64
총공사비
2812730    2
3288996    2
2430162    2
2232413    2
3123927    2
          ..
2587490    1
2355617    1
3918351    1
2972684    1
2533097    1
Name: count, Length: 15870, dtype: int64
재료비
514163     2
478408     2
437023     2
724180     2
478997     2
          ..
440365     1
603463     1
543549     1
4515767    1
529927     1
Name: count, Length: 15795, dtype: int64
회사분재료비
0         4
317658    3
387827    3
384318    3
349156    3
         ..
315090    1
309900    1
197067    1
583926    1
330208    1
Name: count, Length: 15766, dtype: int64
노무비
1046379    2
966503     2
840968     2
2189572    2
868328     2
          ..
4828806    1
2063962    1
755744     1
763623     1
886767     1
Name: count, Length: 15790, dtype: int64
경비
1014118    2
909363     2
951996     2
832672     2
1143665    2
          ..
1184093    1
635562     1
650499     1
666545     1
808183     1
Name: count, Length: 15808, dtype: int64
운반비
221344    3
443683    2
343691    2
474257    2
336897    2
         ..
295053    1
732091    1
112916    1
228615    1
286756    1
Name: count, Length: 15735, dtype: int64
자본적비율
100.00000    9361
0.00000        13
99.66870        2
93.58184        2
98.75079        2
             ...
99.38972        1
75.22896        1
88.73920        1
95.68205        1
89.04126        1
Name: count, Length: 6511, dtype: int64
수익적비율
0.00000      9365
100.00000       9
0.33130         2
6.41816         2
1.24921         2
             ...
0.61028         1
24.77104        1
11.26080        1
4.31795         1
10.95874        1
Name: count, Length: 6511, dtype: int64
도급분자본적금액
0          13
2341339     2
2501443     2
1819794     2
2122976     2
           ..
2035860     1
1600173     1
1664199     1
2430792     1
2049297     1
Name: count, Length: 15850, dtype: int64
도급분수익적금액
0          9373
477           4
478           3
44053         2
83901         2
           ...
69334         1
225179        1
36293         1
83026         1
1136736       1
Name: count, Length: 6476, dtype: int64
도급분자본적비율
100.00000    9369
0.00000        13
97.38689        2
98.19549        2
92.80862        2
             ...
84.19300        1
94.60326        1
84.44580        1
89.78922        1
79.46815        1
Name: count, Length: 6501, dtype: int64
도급분수익적비율
0.00000      9373
100.00000       9
2.61311         2
1.80451         2
7.19138         2
             ...
15.80700        1
5.39674         1
15.55420        1
10.21078        1
20.53185        1
Name: count, Length: 6501, dtype: int64
전주파쇄비
0         14683
74428       271
77724       265
106492      122
111697      101
          ...
627488        1
638952        1
893576        1
617188        1
612014        1
Name: count, Length: 69, dtype: int64
기타자재파쇄비
0        13786
298        167
290        157
580        126
596        110
         ...
10413        1
3302         1
5089         1
3947         1
7674         1
Name: count, Length: 607, dtype: int64
아치형전주버팀목공법자재비
0        15892
8000         1
56000        1
Name: count, dtype: int64
아치형전주버팀목공법노무비
0         15892
59487         1
432485        1
Name: count, dtype: int64
아치형전주버팀목공법경비
0        15892
4185         1
48665        1
Name: count, dtype: int64
고객부담일반관리비
118157    3
101429    3
114881    3
103085    3
130498    3
         ..
90229     1
103675    1
206186    1
124593    1
108079    1
Name: count, Length: 15386, dtype: int64
복리후생비율
1.5730    9599
1.3552    3538
1.5246    1861
1.0890     443
1.5004     183
1.2826     116
1.5488      94
1.3794      43
1.1858       7
1.0648       4
1.3310       4
1.1132       2
Name: count, dtype: int64
소모품비율
2.4635    9599
2.1224    3538
2.3877    1861
1.7055     443
2.3498     183
2.0087     116
2.4256      94
2.1603      43
1.8571       7
1.6676       4
2.0845       4
1.7434       2
Name: count, dtype: int64
여비통신비율
1.4560    9599
1.2544    3538
1.4112    1861
1.0080     443
1.3888     183
1.1872     116
1.4336      94
1.2768      43
1.0976       7
0.9856       4
1.2320       4
1.0304       2
Name: count, dtype: int64
세금공과금비율
1.0075    9599
0.8680    3538
0.9765    1861
0.6975     443
0.9610     183
0.8215     116
0.9920      94
0.8835      43
0.7595       7
0.6820       4
0.8525       4
0.7130       2
Name: count, dtype: int64
아치형전주버팀목공법일반관리비
0        15892
3583         1
26857        1
Name: count, dtype: int64
아치형전주버팀목공법이윤
0        15892
10088        1
76201        1
Name: count, dtype: int64
아치형전주버팀목공법기술료율
0     15892
70        2
Name: count, dtype: int64
최초등록일시
2022-08-16 09:50:45    2
2021-09-17 08:08:15    2
2021-02-17 15:37:23    2
2021-11-10 09:41:43    2
2023-01-18 17:39:47    2
                      ..
2023-07-17 11:56:23    1
2023-07-17 11:48:00    1
2023-07-11 08:58:23    1
2023-07-11 10:18:42    1
2023-07-19 14:06:34    1
Name: count, Length: 15887, dtype: int64
최초등록자사번
MDP2100006    688
MDE1900005    671
MDA1570558    665
MDE1900018    631
MDF1779831    592
             ...
2017101846      1
MDE1705172      1
2022201280      1
MDP2100086      1
MDP2100104      1
Name: count, Length: 192, dtype: int64
최종변경일시
2021-11-10 09:41:44    2
2021-02-17 15:37:23    2
2022-05-16 08:38:20    2
2023-01-18 17:39:47    2
2022-08-16 09:50:46    2
                      ..
2023-06-21 16:53:01    1
2023-07-17 11:56:24    1
2023-07-17 11:48:00    1
2023-07-11 08:58:24    1
2023-07-19 14:06:34    1
Name: count, Length: 15889, dtype: int64
최종변경자사번
MDP2100006    688
MDE1900005    671
MDA1570558    665
MDE1900018    631
MDF1779831    592
             ...
2017101846      1
MDE1705172      1
2022201280      1
MDP2100086      1
MDP2100104      1
Name: count, Length: 192, dtype: int64
사업소명
증평괴산지사    2189
동청주지사     1849
충주지사      1735
영동지사      1545
제천지사      1485
음성지사      1352
보은지사      1339
충북본부직할    1323
옥천지사      1185
진천지사      1064
단양지사       828
Name: count, dtype: int64
계약전력
3     7573
5     5090
4      874
10     431
1      318
      ...
38       1
31       1
97       1
46       1
53       1
Name: count, Length: 72, dtype: int64
year
2021    5952
2022    5071
2023    3095
2020    1776
Name: count, dtype: int64
month
5     1739
12    1657
6     1570
7     1471
8     1381
11    1309
4     1250
10    1160
1     1114
3     1113
9     1100
2     1030
Name: count, dtype: int64
day
7     642
19    636
17    631
24    620
16    598
21    577
25    575
23    562
20    560
8     558
14    551
28    544
5     532
3     529
26    520
9     508
22    504
6     502
15    501
12    495
13    479
30    470
27    469
18    468
2     464
11    446
10    435
4     425
29    402
1     382
31    309
Name: count, dtype: int64
dayofweek
2    3417
1    3341
3    3073
0    2948
4    2356
5     567
6     192
Name: count, dtype: int64
dayofyear
132    136
137    123
139    106
243    103
186     97
      ...
2        5
42       5
227      3
121      2
23       2
Name: count, Length: 363, dtype: int64
사번코드
MDP    6186
MDE    5557
AAA    1422
MDF    1081
MDO     851
MDA     665
MDJ     120
MMP      11
MDI       1
Name: count, dtype: int64
사번코드숫자
8    6186
3    5557
1    1422
4    1081
7     851
2     665
6     120
9      11
5       1
Name: count, dtype: int64
사번숫자
2100006       688
1900005       671
1570558       665
1900018       631
1779831       592
             ...
2017101846      1
1705172         1
2022201280      1
2100086         1
2100104         1
Name: count, Length: 192, dtype: int64
사업소코드
8     2189
2     1849
11    1735
4     1545
7     1485
6     1352
3     1339
10    1323
5     1185
9     1064
1      828
Name: count, dtype: int64

In [6]:
신설인데철거파쇄 = ['철거기준비용', '전주파쇄비', '기타자재파쇄비']
각종비율은어떻게정하나 = ['복리후생비율', '소모품비율', '여비통신비율', '세금공과금비율']

In [10]:
df_data[['계약전력', '총공사비', '접수종류명', '공사형태명', '철거기준비용', '전주파쇄비', '기타자재파쇄비']][df_data['철거기준비용'] > 0]

       계약전력      총공사비      접수종류명 공사형태명   철거기준비용   전주파쇄비  기타자재파쇄비
0         5  49466605  신설(상용/임시)  외선소요   992399  372140     3190
2         3  37874518  신설(상용/임시)  외선소요   720440  297712     2373
3         5  31478585  신설(상용/임시)  외선소요    11314       0      290
4       750  14284312  신설(상용/임시)  외선소요   174635       0     1466
5         3  30268679  신설(상용/임시)  외선소요  1058155  446568     2328
...     ...       ...        ...   ...      ...     ...      ...
19015     3   2972684  신설(상용/임시)  외선소요   129932   77724        0
19023     4   3856209  신설(상용/임시)  외선소요    34473       0        0
19028    13   6578418   단순공급방식변경  외선소요   622800   77724      596
19036   100  13659633    신설(발전기)  외선소요   310005       0        0
19042    20  10395236  신설(상용/임시)  외선소요   425328       0     1059

[6601 rows x 7 columns]

In [11]:
df_data.shape

(19052, 143)

In [12]:
df_pp['철거기준비용']

0         992399
1              0
2         720440
3          11314
4        1058155
          ...
15889          0
15890          0
15891          0
15892          0
15893          0
Name: 철거기준비용, Length: 15894, dtype: int64

In [13]:
df_pp[df_pp['철거기준비용']>0].shape

(4409, 63)

In [14]:
df_pp[df_pp['전주파쇄비']>0].shape

(1211, 63)

In [15]:
df_pp[(df_pp['철거기준비용']>0) & (df_pp['전주파쇄비']>0)].shape

(1211, 63)