#### 전주 위치정보를 geometry로 변환

In [2]:
import pandas as pd
import geopandas as gpd

from freeman.aiddd.data_manager import read_data, write_data

#### 데이터 불러오기

In [17]:
df_data = read_data('2nd pp pole-position-on-cons-1st')

In [18]:
geometry = gpd.points_from_xy(df_data.pole1_y, df_data.pole1_x)

In [19]:
gdf_data = gpd.GeoDataFrame(df_data, geometry=geometry, crs='epsg:5179')

In [20]:
gdf_data.head()

,공사번호,총공사비,최종변경일시,year,month,day,dayofweek,dayofyear,최종변경자사번,사번코드,...,pole6_y,pole7_x,pole7_y,pole8_x,pole8_y,pole9_x,pole9_y,pole10_x,pole10_y,geometry
0,477420183473,37874518,2021-02-25 09:10:18,2021,2,25,3,56,1988103181,AAA,...,4.452301e+06,1.429277e+07,4.451661e+06,1.429280e+07,4.451671e+06,1.429281e+07,4.451665e+06,0.000000e+00,0.000000e+00,POINT (4452009.098 14292991.218)
1,477420183616,31478585,2021-02-25 13:52:47,2021,2,25,3,56,MDE1706013,MDE,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,POINT (4451792.206 14298429.258)
2,477420183728,30268679,2021-04-12 08:11:24,2021,4,12,0,102,MDP2100086,MDP,...,4.449207e+06,1.430658e+07,4.449207e+06,1.430669e+07,4.449164e+06,1.430667e+07,4.449210e+06,1.430665e+07,4.449241e+06,POINT (4448929.187 14306368.113)
3,477420193243,11598900,2022-11-21 17:45:02,2022,11,21,0,325,MDE1900011,MDE,...,4.415728e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,POINT (4415508.751 14292693.636)
4,477420193349,23535217,2020-10-19 09:06:23,2020,10,19,0,293,MDE1900011,MDE,...,4.459526e+06,1.428765e+07,4.459496e+06,1.428769e+07,4.459523e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,POINT (4459487.897 14287399.436)

In [21]:
gdf_data.crs

<Projected CRS: EPSG:5179>
Name: Korea 2000 / Unified CS
Axis Info [cartesian]:
- X[north]: Northing (metre)
- Y[east]: Easting (metre)
Area of Use:
- name: Republic of Korea (South Korea) - onshore and offshore.
- bounds: (122.71, 28.6, 134.28, 40.27)
Coordinate Operation:
- name: Korea Unified Belt
- method: Transverse Mercator
Datum: Geocentric datum of Korea
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [22]:
gdf_data_epsg4326 = gdf_data.to_crs(epsg=4326)

In [24]:
gdf_data_epsg4326['geometry'].head()

0    POINT (-86.18011 27.09286)
1    POINT (-86.16444 27.05253)
2    POINT (-86.12026 26.99942)
3    POINT (-85.87408 27.17818)
4    POINT (-86.25709 27.11772)
Name: geometry, dtype: geometry

In [25]:
180 - 86.18011

93.81989