In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
PATH_BASE = os.path.join(os.path.expanduser('~'), 'projects', 'data', 'AIDDD')

In [3]:
PATH_LVC_FILE = os.path.join(
    PATH_BASE,
    'KBT(설비)', 'KBT(설비) 추출내역', 'KBT 저압고객 추출내역.xlsx'
)
df_lvc = pd.read_excel(PATH_LVC_FILE)
df_lvc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4513 entries, 0 to 4512
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CMRM_CD           4513 non-null   object
 1   GID               4513 non-null   int64
 2   CNTR_NO           4513 non-null   int64
 3   FAC_STAT_CD       4513 non-null   object
 4   OLD_NDIS_CNTR_NO  77 non-null     object
 5   PH_CD             0 non-null      float64
 6   ERRO_CONT         68 non-null     object
 7   CONS_NO_SEQNO     3 non-null      float64
 8   CSNTI_DT          0 non-null      float64
 9   LST_RVSE_DT       0 non-null      float64
 10  LV_LIWI_GID       4513 non-null   int64
 11  LVCA_GID          0 non-null      float64
 12  DESN_OBJ_GID      0 non-null      float64
dtypes: float64(6), int64(3), object(4)
memory usage: 458.5+ KB

In [4]:
PATH_LNODE_FILE = os.path.join(
    PATH_BASE,
    'KBT(설비)', 'KBT(설비) 추출내역', 'KBT 전주 추출내역.xlsx'
)
df_lnode = pd.read_excel(PATH_LNODE_FILE)
df_lnode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8202 entries, 0 to 8201
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CMRM_CD                       8202 non-null   object
 1   GID                           8202 non-null   int64
 2   TS2_OFFICE_CD                 8202 non-null   int64
 3   NAT_ZONE_NO                   8202 non-null   int64
 4   MESH_NO                       8202 non-null   object
 5   LINE_NO                       8202 non-null   object
 6   POLE_FORM_CD                  8202 non-null   object
 7   POLE_KND_CD                   8183 non-null   object
 8   POLE_SPEC_CD                  8161 non-null   float64
 9   PNTPL_YN                      8202 non-null   object
 10  LINE_NM                       8202 non-null   object
 11  RISE_YN                       8202 non-null   int64
 12  NEW_MESH_NO                   0 non-null      float64
 13  FAC_STAT_CD                   8202 non-null   object
 14  STL1_WGHT                     0 non-null      float64
 15  MNFC_MATT_ID                  8146 non-null   float64
 16  POLE_DTL_KND_CD               3 non-null      float64
 17  CONS_NO                       0 non-null      float64
 18  PERM_DOCU_CONS_NO             3879 non-null   object
 19  LST_RVSE_DT                   0 non-null      float64
 20  CSNTI_DT                      0 non-null      float64
 21  ACCU_POSS_CLCD                8192 non-null   object
 22  ACCU_LOC_CD                   8192 non-null   object
 23  ACCU_CLCD                     2174 non-null   object
 24  ACCU_MNGM_ORG_NM              3840 non-null   object
 25  AREA_CLCD                     69 non-null     float64
 26  DESN_OBJ_GID                  15 non-null     float64
 27  WIVE                          8185 non-null   float64
 28  BASIS_GRD_CD                  8202 non-null   object
 29  POLE_DEPTH                    7990 non-null   float64
 30  TRNPS_YN                      8202 non-null   int64
 31  DOCU_SERNO                    0 non-null      float64
 32  INST_YM                       8093 non-null   float64
 33  LV_LIWI_PRIM_TRPWR_YMD        0 non-null      float64
 34  ACCU_LOC_COS_NM               0 non-null      float64
 35  PERM_NO                       1 non-null      object
 36  PERM_PERI_DESC                0 non-null      float64
 37  ETC                           0 non-null      float64
 38  ACCU_CHRG_PAY_ORG_CD          8188 non-null   object
 39  ERP_OFFICE_CD                 8202 non-null   int64
 40  RWO_ID                        8202 non-null   int64
 41  GIS_DUCT_LOC                  51 non-null     object
 42  GIS_SPEC_LOC                  8202 non-null   object
 43  TEXT_GIS_SPEC_ANNXN           8179 non-null   object
 44  GIS_LINE_NM_LOC               0 non-null      float64
 45  TEXT_GIS_LINE_NM_ANNXN        0 non-null      float64
 46  GIS_NO_LOC                    8202 non-null   object
 47  TEXT_GIS_NO_ANNXN             8202 non-null   object
 48  GIS_LOC                       8202 non-null   object
 49  LWER_FAC_GID                  0 non-null      float64
 50  TEXT_GIS_SPC_MATT_ANNXN       0 non-null      float64
 51  TEXT_GIS_ACCU_LOC_ADDR_ANNXN  271 non-null    object
 52  UPPO_FAC_GID                  0 non-null      float64
 53  SYMB_SEQNO                    8202 non-null   int64
 54  LWER_FAC_DESC                 0 non-null      float64
 55  NAT_BROFC_NO_DSBD_YN          0 non-null      float64
 56  HINST_POLE_USE_YN             1024 non-null   object
 57  SD_PLCLMB_MNPW_RSN_CD         0 non-null      float64
 58  SD_NOPLT_STS_CD               0 non-null      float64
 59  ESTM_PRDT_MTTR_GID            0 non-null      float64
dtypes: float64(28), int64(8), object(24)
memory usage: 3.8+ MB

In [5]:
df_lnode.isna().sum().sort_values(ascending=False)[20:40]

PERM_NO                         8201
POLE_DTL_KND_CD                 8199
DESN_OBJ_GID                    8187
GIS_DUCT_LOC                    8151
AREA_CLCD                       8133
TEXT_GIS_ACCU_LOC_ADDR_ANNXN    7931
HINST_POLE_USE_YN               7178
ACCU_CLCD                       6028
ACCU_MNGM_ORG_NM                4362
PERM_DOCU_CONS_NO               4323
POLE_DEPTH                       212
INST_YM                          109
MNFC_MATT_ID                      56
POLE_SPEC_CD                      41
TEXT_GIS_SPEC_ANNXN               23
POLE_KND_CD                       19
WIVE                              17
ACCU_CHRG_PAY_ORG_CD              14
ACCU_POSS_CLCD                    10
ACCU_LOC_CD                       10
dtype: int64

In [6]:
PATH_LLINE_FILE = os.path.join(
    PATH_BASE,
    'KBT(설비)', 'KBT(설비) 추출내역', 'KBT 저압전선 추출내역.xlsx'
)
df_lline = pd.read_excel(PATH_LLINE_FILE)
df_lline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9155 entries, 0 to 9154
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CMRM_CD              9155 non-null   object
 1   GID                  9155 non-null   int64
 2   INST_SEOR            0 non-null      float64
 3   SPLY_MODE_CD         9155 non-null   int64
 4   REME_SPAN            9155 non-null   int64
 5   LICO_CD              9155 non-null   int64
 6   NEWI_KND_CD          9152 non-null   object
 7   NEWI_SPEC_CD         9152 non-null   float64
 8   NEWI_CMUS_CLCD       9155 non-null   object
 9   STLI_JOIN_YN         9155 non-null   int64
 10  AFMO                 0 non-null      float64
 11  VTDR_VAL             3 non-null      float64
 12  FAC_STAT_CD          9155 non-null   object
 13  INST_LOC_ROW_CD      9155 non-null   int64
 14  LVW_KND_CD2          9155 non-null   object
 15  LVW_SPEC_CD2         9155 non-null   int64
 16  LICO_CD2             9155 non-null   int64
 17  LVW_KND_CD           9155 non-null   object
 18  LVW_SPEC_CD          9155 non-null   float64
 19  PHAR_CLCD            56 non-null     object
 20  CONS_NO              0 non-null      float64
 21  LST_RVSE_DT          0 non-null      float64
 22  CSNTI_DT             0 non-null      float64
 23  DESN_OBJ_GID         0 non-null      float64
 24  GEN_CMUS_YN          9155 non-null   int64
 25  PRESZ_YN             9155 non-null   int64
 26  RWO_ID               9155 non-null   int64
 27  GIS_SPAN_ANNXN_LOC   6464 non-null   object
 28  TEXT_GIS_SPAN_ANNXN  6464 non-null   float64
 29  GIS_TRNSLN_PTH       9151 non-null   object
 30  GIS_ANNXN_DESC_LOC   9151 non-null   object
 31  TEXT_GIS_ANNXN       9151 non-null   object
 32  GIS_PTH              9155 non-null   object
 33  LWER_FAC_GID         0 non-null      float64
 34  UPPO_FAC_GID         0 non-null      float64
 35  SYMB_SEQNO           0 non-null      float64
dtypes: float64(13), int64(11), object(12)
memory usage: 2.5+ MB

In [7]:
df_lline.isna().sum().sort_values(ascending=False)

SYMB_SEQNO             9155
AFMO                   9155
CONS_NO                9155
DESN_OBJ_GID           9155
CSNTI_DT               9155
LST_RVSE_DT            9155
LWER_FAC_GID           9155
UPPO_FAC_GID           9155
INST_SEOR              9155
VTDR_VAL               9152
PHAR_CLCD              9099
TEXT_GIS_SPAN_ANNXN    2691
GIS_SPAN_ANNXN_LOC     2691
TEXT_GIS_ANNXN            4
GIS_ANNXN_DESC_LOC        4
GIS_TRNSLN_PTH            4
NEWI_KND_CD               3
NEWI_SPEC_CD              3
GIS_PTH                   0
RWO_ID                    0
PRESZ_YN                  0
GEN_CMUS_YN               0
CMRM_CD                   0
GID                       0
LVW_KND_CD                0
LICO_CD2                  0
LVW_SPEC_CD2              0
LVW_KND_CD2               0
INST_LOC_ROW_CD           0
FAC_STAT_CD               0
STLI_JOIN_YN              0
NEWI_CMUS_CLCD            0
LICO_CD                   0
REME_SPAN                 0
SPLY_MODE_CD              0
LVW_SPEC_CD               0
dtype: int64

In [8]:
PATH_LSL_FILE = os.path.join(
    PATH_BASE,
    'KBT(설비)', 'KBT(설비) 추출내역', 'KBT 저압인입선 추출내역.xlsx'
)
df_lsl = pd.read_excel(PATH_LSL_FILE)
df_lsl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6124 entries, 0 to 6123
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CMRM_CD              6124 non-null   object
 1   GID                  6124 non-null   int64
 2   REME_SPAN            6089 non-null   float64
 3   LV_LIWI_FORM_CD      6124 non-null   object
 4   LV_LIWI_KND_CD       6124 non-null   object
 5   LV_LIWI_SPEC_CD      6124 non-null   float64
 6   LICO_CD              6124 non-null   int64
 7   SEQNO                514 non-null    object
 8   VIRT_LIWI_YN         6124 non-null   int64
 9   SRSD_LEIN_FORM_CD    4147 non-null   object
 10  SIDEH_LEIN_FORM_CD   4579 non-null   object
 11  SIDEH_ASM_CD         2025 non-null   object
 12  SIDEH_ARM_KND_CD     2927 non-null   object
 13  SIDEH_ARM_SPEC_CD    2926 non-null   float64
 14  FAC_STAT_CD          6124 non-null   object
 15  POSS_CLCD            6124 non-null   object
 16  MNFC_MATT_ID         0 non-null      float64
 17  LV_LIWI_INTY_CD      6124 non-null   object
 18  SIDEH_ARM_SPEC_CD2   404 non-null    float64
 19  SIDEH_ARM_SPEC_CD3   397 non-null    float64
 20  CONS_NO              0 non-null      float64
 21  LST_RVSE_DT          0 non-null      float64
 22  CSNTI_DT             0 non-null      float64
 23  POLE_GID             6119 non-null   float64
 24  DESN_OBJ_GID         0 non-null      float64
 25  PRESZ_YN             6124 non-null   int64
 26  RWO_ID               6124 non-null   int64
 27  GIS_PTH              6124 non-null   object
 28  GIS_SPAN_ANNXN_LOC   6118 non-null   object
 29  TEXT_GIS_SPAN_ANNXN  6105 non-null   float64
 30  GIS_CUNU_ANNXN_LOC   5788 non-null   object
 31  TEXT_GIS_CUNU_ANNXN  5395 non-null   float64
 32  LWER_FAC_GID         0 non-null      float64
 33  UPPO_FAC_GID         0 non-null      float64
 34  FAC_SEQNO            0 non-null      float64
dtypes: float64(16), int64(5), object(14)
memory usage: 1.6+ MB

In [9]:
PATH_CC_FILE = os.path.join(
    PATH_BASE,
    '공사비예산서', '5개년 공사비 예산서 추출내역.xlsx'
)
df_cc = pd.read_excel(PATH_CC_FILE)
df_cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7096 entries, 0 to 7095
Columns: 137 entries, CONS_NO to LST_CHPE_EMPID
dtypes: datetime64[ns](2), float64(11), int64(121), object(3)
memory usage: 7.4+ MB

In [12]:
df_cc.shape

(7096, 137)

In [11]:
df_cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7096 entries, 0 to 7095
Columns: 137 entries, CONS_NO to LST_CHPE_EMPID
dtypes: datetime64[ns](2), float64(11), int64(121), object(3)
memory usage: 7.4+ MB

In [13]:
PATH_CC_D_FILE = os.path.join(
    PATH_BASE,
    '공사비예산서', '5개년 공사비 예산서 추출내역_계약전력등 추가.xlsx'
)
df_cc_d = pd.read_excel(PATH_CC_D_FILE)
df_cc_d.info()

/home/freeman/anaconda3/envs/t213p310/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7097 entries, 0 to 7096
Columns: 143 entries, 공사번호 to 계약전력
dtypes: float64(11), int64(123), object(9)
memory usage: 7.7+ MB

In [14]:
df_cc_d.head()

,공사번호,공사변경순번,배전공사형태코드,회사분공사비,도급분공사비,자본적금액,수익적금액,본사분재료비,외자분재료비,내자분재료비,...,최초등록일시,최초등록자사번,최종변경일시,최종변경자사번,사업소명,접수종류코드,접수종류명,공사형태코드,공사형태명,계약전력
0,442720154691,99,,23052610,15962515,35272725,3742400,23052610,0,23052610,...,20/01/10,MDE1707278,20/01/10,MDE1707278,동청주지사,11,신설(상용/임시),2,외선소요,7700
1,442720154711,99,,974130,1390620,2364750,0,974130,0,974130,...,19/11/09,ETL_DEV,19/11/09,ETL_DEV,동청주지사,11,신설(상용/임시),2,외선소요,5
2,442720154728,99,,67000695,38982058,102787081,3103395,67000695,0,67000695,...,19/11/09,ETL_DEV,19/11/09,ETL_DEV,동청주지사,11,신설(상용/임시),2,외선소요,1450
3,442720155639,99,,248504,1162131,1410635,0,248504,0,248504,...,20/03/05,2007200722,20/03/05,2007200722,동청주지사,11,신설(상용/임시),2,외선소요,3
4,442720163475,99,,12995746,8315348,21311094,0,12995746,0,12995746,...,19/11/09,ETL_DEV,19/11/09,ETL_DEV,동청주지사,11,신설(상용/임시),2,외선소요,35