In [2]:
import numpy as np
import pandas as pd

# 사용자정의 함수: key를 입력하면 해당 데이터를 데이터프레임으로 읽어옴
from aiddd.data_manager import read_data, write_data
from aiddd.utils import show_commas

#### 주요질문 for 업무도메인

##### 데이터셋 관련

* 유효한 데이터 수가 적다?

In [2]:
df_data = read_data('통계 전체')
show_commas(df_data)

In [3]:
df_data = read_data('통계 1차전처리')
show_commas(df_data)

* 전주 vs 장주 차이점

  > 전주나 장주 및 기타 데이터셋의 각 row는 하나의 전주나 장주 등을 의미하나?

* 전주 vs 전선 vs 인입선 관계

  > 1. 저압 계약전력의 범위? <br/>
  > 2. 기별 vs 설계 
  > 3. 인입선 수? <br/>
  > 4. 전주와 전선과 인입선의 관계?

In [7]:
df_data = read_data('병합 전체카운트')
show_cols = ['계약전력', '기별:전주', '기별:전선', '기별:인입선', '설계:전주', '설계:전선', '설계:인입선']
show_commas(df_data[df_data['기별:전주']!=0][show_cols].head(20))

##### 데이터 관련

* 전주 또는 장주의 위치정보는 어디에 있나?

  > 전체 데이터의 컬럼을 `['위치', '위도', '경도', 'LAT', 'LON']` 값으로 검색했을 때, 확인된 값은 `설계 전주: ['점용위치코드', '점용위치구분코드']`뿐임

#### 주요질문 for GIS 담당자