In [1]:
import pandas as pd
from freeman.aiddd.data_manager import read_data

In [2]:
df_line = read_data('3rd provide line')

In [19]:
df_cons = read_data('3rd pp counts-base-on-cons-1st')

#### 데이터 전처리

##### 결측치 처리

In [7]:
# 결측값 체크
df_line.isna().sum().sort_values(ascending=False)[20:30]

# 27컬럼의 거의 모든 값이 NaN임(27개 컬럼 삭제)

회선코드             40018
직선접속중성선공사성격코드    40016
직선접속공사특성코드       40016
전선구분코드2          39750
전선규격코드2          39718
전선공사특성코드2        39718
전선종류코드2          39718
중성선구분코드          13230
중성선공사특성코드         6973
전선구분코드1           1193
dtype: int64

In [8]:
df_line.fillna(0, inplace=True)

##### 1개의 값으로 구성된 컬럼 제거

In [9]:
nunique_per_column = df_line.nunique()

In [10]:
single_value_column_list = nunique_per_column[nunique_per_column == 1].index
df_line.drop(columns=single_value_column_list, axis=1, inplace=True)

# 결과확인
print(
    f'Number of Drop Columns: {len(single_value_column_list)}\n'
    f'Columns: {[col for col in single_value_column_list]}\n'
    f'Data shape: {df_line.shape}'
)

Number of Drop Columns: 32
Columns: ['공사변경순번', '공사구분코드', '전압구분코드', '공사성격코드', '회선명', '전선조정코드1', '전선조정코드2', '전선펴기여부', '중성선조정코드', '슬리브접속수량', '시공방법코드', '건물방호관코드', '건물방호관수량', '고객제공여부', '전압선중성선사용여부', '중성선전압선사용여부', '전선펴기긴선여부', '기설전선여부', '전선공사특성코드3', '전선종류코드3', '전선규격코드3', '전선구분코드3', '전선조정코드3', '기설설비유실여부', '기설설비상태코드', '종단접속공사코드', '종단접속수량', '조가형태공사코드', '조가형태코드', '파형관규격코드', '디지털장력계여부', '케이블헤더수량']
Data shape: (40019, 45)

In [22]:
# 학습에 사용할 컬럼 추출
columns_for_training = [
    '공사번호', '전산화번호', '전원측전산화번호', '설치순서', 
    '지지물간거리', '전선종류코드1', '전선규격코드1'
]
df_data = df_line[columns_for_training].copy()

In [23]:
columns_name_ko_to_en = {
    '공사번호': 'cons_no', 
    '전산화번호': 'comp_no', 
    '전원측전산화번호': 'from_comp_no', 
    '설치순서': 'cons_seq',
    '지지물간거리': 'distance', 
    '전선종류코드1': 'line_type', 
    '전선규격코드1': 'line_spec'
}
df_data.rename(columns=columns_name_ko_to_en, inplace=True)

In [24]:
df_data.shape

(40019, 7)

In [25]:
# 공사비에 있는 공사번호만 남기고 나머지 레코드 제거
df_data = df_data[df_data.cons_no.isin(df_cons.cons_no)]

In [26]:
df_data.shape

(30998, 7)

In [28]:
# 공사번호별 전주(최대 10개) x,y좌표 붙이기
MAX_LINE_COUNTS = 11
merge_data = []

In [34]:
df_temp = df_data[df_data.cons_no == '477420183616'].copy()

In [35]:
comp_no = df_temp['comp_no'].values
from_comp_no = df_temp['from_comp_no'].values

In [36]:
for idx in range(len(comp_no)):
    print(f'{comp_no[idx]}, {from_comp_no[idx]}')
comp_no_only =

7599F561, 7599F462
7599F562, 7599F561
7599F571, 7599F562